<h2 mat-dialog-title *ngIf="!data">Agregar Usuario</h2>
<h2 mat-dialog-title *ngIf="data">Editar Usuario</h2>
<mat-dialog-content>
<form [formGroup]="formGroup">
  <div class="example-container">
    <mat-form-field>
      <mat-label>USERNAME</mat-label>
      <input matInput placeholder="USERNAME" formControlName="username">
    </mat-form-field>
    <mat-form-field>
      <mat-label>NOMBRE</mat-label>
      <input matInput placeholder="NOMBRE" formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>APELLIDO</mat-label>
      <input matInput placeholder="APELLIDO" formControlName="lastName">
    </mat-form-field>
    <mat-form-field>
      <mat-label>EMAIL</mat-label>
      <input matInput placeholder="EMAIL" formControlName="email">
    </mat-form-field>

    <mat-form-field>
      <mat-label>PHONE</mat-label>
      <input matInput placeholder="PHONE" formControlName="phone">
    </mat-form-field>
    <mat-form-field>
      <mat-label>ROLE</mat-label>
      <input matInput placeholder="ROLE" formControlName="role">
    </mat-form-field>
    <mat-form-field>
      <mat-label>PASSWORD</mat-label>
      <input matInput placeholder="PASSWORD" formControlName="password">
    </mat-form-field>
  </div>
</form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="save()">Guardar</button>
  <button mat-raised-button color="warn" mat-dialog-close="true">Cancelar</button>
</mat-dialog-actions>
