.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.product-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas */
  grid-gap: 20px; /* Espacio entre los elementos */
}

.product-item {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  margin-top: 10%;
}

